*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.extension-container {
  width: 430px;
  min-height: 400px;
}
