@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 27, 37);
}

.extension-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6edd9;
  width: 300px;
  height: 600px;
  padding: 0 15px;
}

.extension-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: #739b77;
}

.extension-header img {
  width: 35px;
  height: auto;
}

.extension-title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin-top: 8px;
}

.extension-title h1 {
  font-size: 28px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: #505e88;
}

.extension-title span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #3d4a3e;
}

.extension-divider {
  height: 2px;
  width: 100%;
  background-color: #a0afa1;
  border-radius: 40px;
  margin: 8px 0;
}

.currency-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.type-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.type-container h2 {
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: #505e88;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container .price-title {
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: #8390bd;
}

.price-container .price-value {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #3d4a3e;
}
