@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: rgb(32, 27, 37);
}

.extension-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6edd9;
  width: 320px;
  padding: 0 15px;
}

.extension-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 50px;
  border-radius: 0 0 100px 100px;
  background-color: #739b77;
}

.extension-header img {
  width: 40px;
  height: auto;
}

.extension-header span {
  font-size: 20px;
  font-weight: 500;
  color: #f6edd9;
  font-family: "Montserrat", sans-serif;
}

.extension-title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin-top: 12px;
}

.extension-title h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #536e56;
  letter-spacing: -1px;
}

.extension-title span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #3d4a3e;
}

.extension-title span:nth-of-type(2) {
  font-weight: 600;
  height: 12px;
}

.extension-divider {
  height: 2px;
  width: 100%;
  background-color: #a0afa1;
  border-radius: 40px;
  margin: 14px 0;
}

.currency-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.type-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.type-container h2 {
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: #739b77;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container .price-title {
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: #707070;
}

.price-container .price-value {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #3d4a3e;
}

.btns-container {
  display: flex;
  gap: 15px;
  width: 100%;
}

.btns-container button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #739b77;
  gap: 5px;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #f6edd9;
  transition: all 200ms ease-in-out;
}

.btns-container button:hover {
  background-color: #6e7c6f;
  transition: all 200ms ease-in-out;
}

.extension-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  background-color: #739b77;
  border-radius: 100px 100px 0 0;
  height: 50px;
  width: 320px;
  margin-top: 14px;
}

.extension-footer span {
  font-size: 12px;
  color: #f6edd9;
  font-family: "Montserrat", sans-serif;
}

#name-highlight {
  font-weight: 600;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.contact-links a {
  color: #f6edd9;
  transition: all 150ms ease-in-out;
}

.contact-links a:hover {
  transform: scale(1.1);
  transition: all 150ms ease-in-out;
  color: #4e534f;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.calculator-title {
  margin-bottom: 8px;
}

.calculator-title h2 {
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: #739b77;
}

.calculator-title span {
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: #707070;
}

.input-container {
  display: flex;
}

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: #f7f7f7;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.coin-container svg {
  font-size: 25px;
  color: #739b77;
}

.input,
.input-result {
  border: none;
  padding: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.input {
  width: 100px;
}

.input-result {
  cursor: default;
  width: 95px;
  border-radius: 8px;
  background-color: #739b77;
  color: white;
  margin: 0 2px;
}

.input:focus,
.input-result:focus {
  outline: none;
}

.conversor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversor-container span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #3d4a3e;
  width: 120px;
}
